.pc {
    display: inline !important;
}
.sp {
    display: none !important;
}
 
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: inline !important; }
}

header.title {
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #F39802;
    color: #FFFFFF;
}

p.top {
    margin-left: 5%;
}

footer.twitter {
    text-align: right;
    align-items: right;
}

body {
    padding-top: 110px;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    touch-action: manipulation;
}

.tab_wrap{
    width: 100%;
    margin:0px auto;
}

input[name="tab_btn"][type="radio"]{
    display:none;
}

.tab_area{
    font-size:0;
    margin:0 0px;
}

.tab_area label{
    width:33%;
    margin-top:0px;
    display:inline-block;
    padding:12px 0;
    color:#333;
    background:#fafafa;
    text-align:center;
    font-size:16px;
    cursor:pointer;
    transition:ease 0s opacity;
}

.tab_panel{
    width:100%;
    padding:0 0;
    display:none;
    text-align:center;
    align-items: center;
}

.tab_panel p{
    font-size:14px;
    text-align:center;
    align-items: center;
}

.board_panel {
    background-color: #DEEBBC;
    padding-top: 10px;
    padding-bottom: 30px;
}

.color_panel {
    background-color: #E8BACB;
    padding-top: 10px;
    padding-bottom: 30px;
}

.bbs_panel {
    background-color: #F0D8E2;
    padding-top: 10px;
    padding-bottom: 30px;
}

#tab1:checked ~ .tab_area .tab1_label{
    background:#D2EA8E;
    color:#000;
}

#tab1:checked ~ .panel_area #panel1{
    display:block;
}

#tab2:checked ~ .tab_area .tab2_label{
    background:#4966AF;
    color:#000;
}

#tab2:checked ~ .panel_area #panel2{
    display:block;
}

#tab3:checked ~ .tab_area .tab3_label{
    background:#EFB2CB;
    color:#000;
}

#tab3:checked ~ .panel_area #panel3{
    display:block;
}

.membericon {
    width: 20.5%;
    max-width: 180px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 4px;
    border-radius: 13px;
}

.othericon {
    width: 45%;
    max-width: 360px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 4px;
    border-radius: 13px;
}

input[type="radio"][name="Select"],[name="Color"] {
    display: none;
}

input[type="radio"][name="Select"]:checked + label img,[name="Color"]:checked + label img {
    background: black;
}

input[type="radio"][name="Select"]:checked + label span,[name="Color"]:checked + label span {
    border: 3px solid #333;
}

.panel_text {
    padding-bottom: 30px;
}

.boardicon {
    display: table-cell;
    height: 50px;
    width: 350px;
    background: #E5E9EA;
    margin-bottom: 10px;
    vertical-align: middle;
    border: 3px solid #B7CC7C;
    border-radius: 13px;
    user-select: none;
    text-align: left;
    padding-right: 0px;
}

.bbs_textbox {
    display: inline-block;
    width: 70%;
    font-size: 120%;
}

.Led {
    width: 50px;
    height: 50px;
    background-color: #E5E9EA;
    display: block;
}

input[type=checkbox]:checked ~ .Led {
    background-color: #f200ca;
    text-align: right;
}

a {
    text-decoration:none;
}